@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap");

:root {
  --background: #353055;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  display: grid;
  height: 100vh;
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
}

.container {
  margin: auto;
}

.profile__wrapper {
  width: 350px;
  height: 450px;
  position: relative;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  width: 350px;
  height: 450px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
}
.profile__img {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background);
  transition: 0.5s;
}

.profile__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__img:hover img {
  opacity: 0.4;
  transition: 0.5s;
}

.profile:hover .profile__img {
  transform: translateY(-104px);
  transition: all 0.9s;
}

.profile:hover .profile__info {
  opacity: 0.9;
}

.social__icons {
  position: absolute;
  display: flex;
  gap: 12px;
  z-index: 3;
  bottom: 164px;
  transform: translateY(32px);
}

.profile__wrapper:hover .profile__image {
  z-index: 8;
  opacity: 0.4;
  transition: 0.5s;
}

.social__icons li {
  list-style: none;
}

.social__icons li a {
  position: relative;
  display: grid;
  place-items: center;
  background: #fff;
  font-size: 23px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  transition: 0.2s;
  opacity: 0;
}

.social__icons li a:hover {
  background: var(--background);
  transition: 0.2s;
}

.social__icons li a svg {
  color: #000;
  transition: 0.2s;
}

.social__icons li a:hover svg {
  color: white;
  transition: 0.8s;
  transform: rotateY(360deg);
}

.profile:hover .social__icons li a {
  opacity: 1;
}

.profile:hover li:nth-child(1) a {
  transition-delay: 0.1s;
}

.profile:hover li:nth-child(2) a {
  transition-delay: 0.2s;
}

.profile:hover li:nth-child(3) a {
  transition-delay: 0.3s;
}

.profile:hover li:nth-child(4) a {
  transition-delay: 0.4s;
}

.profile__name {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--background);
  width: 100%;
  height: 104px;
  z-index: 1;
  padding: 16px;
  color: #333;
  text-align: left;
}

.profile:hover .profile__name {
  background-color: #fff;
}

.profile__name h3 {
  margin-bottom: 8px;
}
